.hero3-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003459;;
}
.hero3-content{
    margin-right: 160px;
    width: 100%px;
    max-width: 450px;
    background-color: #FCEED5;
}
.hero3-h2{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 68px;
    color: #003459;
}
.hero3-h3{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #003459;
}
.hero3-p{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #242B33;
}
.hero3-links {
    margin-top: 30px;
}
.hero3-a{
    padding: 10px 25px;
    gap: 8px;
    border: 1.5px solid #000;
    border-radius: 57px;
    color: #000;
}
.hero3-b{
    color: #fff;
    padding: 10px 25px;
    gap: 10px;
    background: #003459;
    border-radius: 57px;
    margin-left: 20px;
}
