.hero5-span{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 31px;
    align-items: flex-end;
    color: #000000;
}
.hero5-strong{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    align-items: flex-end;
    text-transform: capitalize;
    color: #003459;
}
.hero5-a{
    border: 1.5px solid #003459;
    border-radius: 10px;
    padding: 5px 10px;
    color: #003459;
    margin-top: 6px;
} 
.hero5-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
.hero5-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}