.hero2{
    padding: 80px 50px;
    background-color: #fff;
    }
.hero2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.hero2-span {
  font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-bottom: 10px;
}
.hero2-h3{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    color: #003459;
    margin-bottom: 10px;
}
.hero2-a {
    border: 1.5px solid #071e2f;
    padding: 10px 25px;
    color: #003459;
    border-radius: 55px;
    font-weight: 30px;
}
.dog{
    padding: 8px 8px 0px;
    gap: 8px;
    background: #FDFDFD;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: 0 0 10px 0;
}
.dogs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 15px 20px;
    gap: 15px;
}
.dog-info {
    list-style: none;
    display: flex;
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #667479;
    
}
.hero2-h4{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: #00171F;
    font-family: 'SVN-Gilroy';
}
